#test{
    background: transparent;
}

html{
    overflow: hidden;
}

#background{
    filter: blur(0.4vh);
    -webkit-filter: blur(0.4vh);
    z-index: 20;
}

#hey{
    position: absolute;
    top: 30%;

    z-index: 1;
}

#title{
    position: absolute;
    top: -40%;
    z-index: 1;
    font-family: fantasy;
    color: rgb(255, 184, 52);
    left: 20%;
}

#para{
    background-color: rgb(255, 184, 52);
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    font-size: larger;
    border-radius: 5px;
}